@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Product Sans'), local('ProductSans-Regular'), url(fonts/ProductSans-Regular.woff2) format('woff2');
}
